:root {
    --border: 1px solid black;
}

.body {
    font-size: 40px;
    font-family: Inter, serif;
}

.weatherForm {
    margin: 15px;
}

.latitude, .longitude, .errorMessage, .showButton {
    display: flex;
    vertical-align: center;

    margin: 15px 0;
}

.latitude-label, .longitude-label {
    height: 26px;
}

.latitude-input, .longitude-input, .showButton {
    padding: 5px;
    border-radius: 8px;
    width: 120px;
    border: var(--border);
}

.errorMessage {
    color: red;
}

button {
    border: var(--border);
    padding: 5px;
    background-color: #355FCA;
    color: #FFFFFF;
    border-radius: 8px;
}

.widget {
    width: 420px;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    border: var(--border);
    border-radius: 8px;
}

.widgetWeatherIcon {
    width: 40px;
}

.map {
    width: 380px;
    height: 380px;
    margin: 10px 5%;
}

.removeWidgetButton {
    width: 65px;
    border: var(--border);
}

