:root {
    --border: 1px solid black;
    --indent: 15px;
    --border-radius: 8px;
}

.body {
    font-size: 40px;
    font-family: Inter, serif;
}

.weatherForm {
    margin: var(--indent);
}

.latitude, .longitude, .errorMessage, .showButton {
    margin: var(--indent) 0;
}

.latitude-label, .longitude-label {
    height: 26px;
}

.latitude-input, .longitude-input, .showButton {
    padding: 5px;
    border-radius: var(--border-radius);
    width: 120px;
    border: var(--border);
}

.errorMessage {
    color: red;
}

button {
    border: var(--border);
    padding: 5px;
    background-color: #355FCA;
    color: #FFFFFF;
    border-radius: var(--border-radius);
}

.widget {
    width: 420px;
    display: inline-block;
    margin: var(--indent);
    border: var(--border);
    border-radius: var(--border-radius);
}

.widgetWeatherInfo {
    margin: var(--indent);
    display: flex;
    vertical-align: top;
    justify-content: space-between;
}

.widgetWeatherIcon {
    width: 40px;
}

.map {
    width: 380px;
    height: 380px;
    margin: var(--indent);
}

.widgetCloseButton {
    width: 25px;
    height: 25px;
    border: var(--border);
}

